{{!-- Result row for success/failure/neutral states --}}
{{!-- Usage: {{> partials/result-row state="success" value=14 showIcon=true targetValue=10}} --}}
<div class="result-row result-row--{{state}}">
    {{#if showIcon}}
    <span class="result-row__icon">
        {{#if (eq state "success")}}
        <img src="systems/cyberpunk/img/chat/success.svg" alt="Success">
        {{else if (eq state "failure")}}
        <img src="systems/cyberpunk/img/chat/failure.svg" alt="Failure">
        {{/if}}
    </span>
    {{/if}}
    <span class="result-row__value">{{value}}</span>
    {{#if targetValue}}
    <span class="result-row__die">
        <div class="d10-badge d10-badge--target">
            <span class="d10-badge__value">{{targetValue}}</span>
        </div>
    </span>
    {{/if}}
</div>
