{{!-- Section bar for action labels (FULL AUTO, DAMAGE, POINT BLANK, etc.) --}}
<div class="section-bar">
    {{#if icon}}
    <span class="section-bar__icon">
        <img src="systems/cp2020/img/chat/{{icon}}.svg" alt="">
    </span>
    {{/if}}
    <span class="section-bar__label">{{label}}</span>
</div>
