{{!-- Weapon display line with icon, name, and type --}}
<div class="weapon-line">
    <div class="weapon-line__icon">
        <img src="{{weaponImage}}" alt="{{weaponName}}">
    </div>
    <div class="weapon-line__info">
        <div class="weapon-line__name">{{weaponName}}</div>
        <div class="weapon-line__type">{{weaponType}}</div>
    </div>
</div>
