<div class="field">
    <label for="{{edit}}">{{loc label}}</label>
    <span class="flex-pad"></span>
    <input {{#if readOnly}}readonly{{/if}} class="nogrow" name="{{edit}}" 
        type="checkbox" {{#if (getByPath . edit)}}checked{{/if}}/>
</div>