{{> (tpl "actor/parts/armor-display") hitLocations=system.coverage edit=true hitLocsName="coverage"}}
<div class="field-list one-col">
    {{> (tpl "fields/select") label="CYBERPUNK.ArmorType" edit="system.armorType" choices=armorTypeChoices}}
    {{> (tpl "fields/number") label="Encumbrance" edit="system.encumbrance"}}
</div>