<div class="field-list">
    {{> (tpl "fields/string") label="CyberwareType" edit="system.cyberwareType"}}
    {{> (tpl "fields/string") label="CyberwareSubtype" edit="system.cyberwareSubtype"}}
    {{> (tpl "fields/string") label="SurgeryCode" edit="system.surgCode"}}
    <div class="field">
        
        <label for="system.humanityCost">{{loc "HumanityCostRoll"}}</label>
        <span class="flex-pad"></span>
        <input class="textsize" name="system.humanityCost" S
            type="text" value="{{system.humanityCost}}"/>
        <div class="humanity-cost-roll field-image action" style="background-image: url('../../../icons/svg/d10-grey.svg')"></div>
    </div>
    {{> (tpl "fields/number") label="HumanityLoss" edit="system.humanityLoss"}}
    {{> (tpl "fields/string") label="Abbrev" edit="system.abbrev"}}
    {{> (tpl "fields/number") label="Slots" edit="system.slots"}}
    {{> (tpl "fields/number") label="Spaces" edit="system.spaces"}}
</div>